# Core ML & Vision
torch
torchvision
opencv-python
numpy
Pillow

# Optional (for tracking)
opencv-contrib-python

# Desktop GUI
PyQt5
PyQtWebEngine

# Web API & Server
flask==3.0.0
flask-cors==4.0.0

# Data processing
pandas
openpyxl
